<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <!-- Favicon icon -->
    <link rel="icon" href="{{ base_url() }}/uploads/settings/{{ web.imagelocation }}" type="image/x-icon">
 
    <!-- vendor css -->
    <link rel="stylesheet" href="{{ base_url() }}/backend/assets/css/style.css">
    {% block styles %}{% endblock %}

    <title>{{ web.sitename }} - {{ web.title }}</title>
  </head>

  <body>
  

    <div class="main">
      {% block content %}{% endblock %}
    </div>  

     <!-- ==============================================
     Scripts
     =============================================== -->
     <script src="{{ base_url() }}/frontend/assets/js/jquery.min.js"></script>
     <script src="{{ base_url() }}/frontend/assets/js/popper.min.js"></script>
     <script src="{{ base_url() }}/frontend/assets/js/bootstrap.min.js"></script>
     <script src="{{ base_url() }}/backend/assets/plugins/sweetalert/sweetalert.min.js"></script>
     {% block scripts %}{% endblock %}    
  </body>
</html>
