{% extends 'backend/layouts/app.twig' %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">


                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Edit Category</h5>
                                        </div>
                                        <div class="card-body">
                                        <form action="{{ path_for('admin.category_postedit') }}" method="post">
                                          
                                           <input type="hidden" name="id" value="{{ category.id }}" />

                                            <div class="form-group">
                                                <label>Title</label>
                                                <input type="text" name="title" class="form-control{{ errors.title ? ' is-invalid' : '' }}" value="{{ category.title }}">
                                                {% if errors.title %}
                                                  <div class="invalid-feedback">{{ errors.title | first }}</div>
                                                {% endif %}
                                            </div>
                   
                                            {{ csrf.field | raw }}
                                            
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                        </div>
                                    </div>      
            
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock %}

{% block scripts %}


        {% if flash.getMessage('success') %}
          <script>
           $(document).ready(function(){
              swal("Success!", "{{ flash.getMessage('success') | first }}", "success");
           });
          </script> 
        {% endif %}   

        {% if flash.getMessage('warning') %}
          <script>
           $(document).ready(function(){
              swal("Warning!", "{{ flash.getMessage('warning') | first }}", "warning");
           });
          </script> 
        {% endif %}  

        {% if flash.getMessage('error') %}
          <script>
           $(document).ready(function(){
              swal("Error!", "{{ flash.getMessage('error') | first }}", "error");
           });
          </script> 
        {% endif %}      

{% endblock %} 