{% extends 'backend/layouts/app.twig' %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                            
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Details</h5>
                                        </div>
                                        <div class="card-body">
                                                    <form action="{{ path_for('admin.editname') }}" method="post">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Name</label>
                                                            <input name="name" type="text" class="form-control{{ errors.name ? ' is-invalid' : '' }}" value="{{ admin.name }}">
                                                            {% if errors.name %}
                                                              <div class="invalid-feedback">{{ errors.name | first }}</div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Email</label>
                                                            <input name="email" type="text" class="form-control{{ errors.email ? ' is-invalid' : '' }}" value="{{ admin.email }}">
                                                            {% if errors.email %}
                                                              <div class="invalid-feedback">{{ errors.email | first }}</div>
                                                            {% endif %}
                                                        </div>
                   
                                                         {{ csrf.field | raw }}
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                    </form>
                                        </div>
                                    </div>  
                                </div>  
                                <div class="col-lg-4">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Profile</h5>
                                        </div>
                                        <div class="card-body">
                                            <img class="img-fluid" style="width:200px; height: 200px;" src="{{ base_url() }}/uploads/profile/{{ admin.imagelocation }}" alt="Admin">
                                            <br>
                                            <br>
                                            <br>
                                            <form action="{{ path_for('admin.image') }}" method="post" enctype="multipart/form-data">

                                                <div class="form-group">
                                                    <input type="file" name="photoimg" class="form-control">
                                                </div>

                                                {{ csrf.field | raw }}

                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>  
                            </div><!--/ row --> 
                            
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Change Password</h5>
                                        </div>
                                        <div class="card-body">
                                                    <form action="{{ path_for('admin.password') }}" method="post">
                                                        <div class="form-group">
                                                            <label for="current_password">Current Password</label>
                                                            <input type="password" class="form-control{{ errors.current_password ? ' is-invalid' : '' }}" name="current_password" placeholder="Current Password">
                                                            {% if errors.current_password %}
                                                              <div class="invalid-feedback">{{ errors.current_password | first }}</div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="new_password">New Password</label>
                                                            <input type="password" class="form-control{{ errors.new_password ? ' is-invalid' : '' }}" name="new_password" placeholder="New Password">
                                                            {% if errors.new_password %}
                                                              <div class="invalid-feedback">{{ errors.new_password | first }}</div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="confirm_password">Confirm New Password</label>
                                                            <input type="password" class="form-control{{ errors.confirm_password ? ' is-invalid' : '' }}" name="confirm_password" placeholder="Confirm New Password">
                                                            {% if errors.confirm_password %}
                                                              <div class="invalid-feedback">{{ errors.confirm_password | first }}</div>
                                                            {% endif %}
                                                        </div>

                                                        {{ csrf.field | raw }}

                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                    </form>
                                        </div>
                                    </div>  
                                </div>  
                                
                            </div><!--/ row -->     
            
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock %}

{% block scripts %}


        {% if flash.getMessage('success') %}
          <script>
           $(document).ready(function(){
              swal("Success!", "{{ flash.getMessage('success') | first }}", "success");
           });
          </script> 
        {% endif %}   

        {% if flash.getMessage('warning') %}
          <script>
           $(document).ready(function(){
              swal("Warning!", "{{ flash.getMessage('warning') | first }}", "warning");
           });
          </script> 
        {% endif %}  

        {% if flash.getMessage('error') %}
          <script>
           $(document).ready(function(){
              swal("Error!", "{{ flash.getMessage('error') | first }}", "error");
           });
          </script> 
        {% endif %}      

{% endblock %} 