{% extends 'backend/layouts/app.twig' %}

{% block styles %}
 <link rel="stylesheet" type="text/css" href="{{ base_url() }}/backend/assets/plugins/datatables/datatables.min.css"/>
{% endblock %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">


                                    <div class="card Recent-Users">
                                        <div class="card-header">
                                            <h5>Verify Voters</h5>
                                        </div>
                                        <div class="card-block px-3 py-3">
                                            <div class="table-responsive">
                                                <table class="table table-hover" id="myTable">
                                                  <thead>
                                                    <tr>
                                                     <th>Name</th>
                                                     <th>Email</th>
                                                     <th>Approved</th>
                                                     <th>Action</th>
                                                    </tr>
                                                  </thead>
                                                    <tbody>

                                                    {% for voter in voters %}
                                                        <tr class="unread">
                                                            <td>
                                                                <h6 class="mb-1">{{ voter.name }}</h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="text-muted">{{ voter.email }}</h6>
                                                            </td>
                                                            <td>
                                                              {% if voter.verified == 1 %}
                                                                <h6 class="text-muted">Approved</h6>
                                                              {% elseif voter.verified == 0 %}  
                                                                <h6 class="text-muted">Waiting to be approved</h6>
                                                              {% elseif voter.verified == 2 %}  
                                                                <h6 class="text-muted">Declined</h6>
                                                              {% endif %}  
                                                            </td>
                                                            <td>
                                                            <a href="{{ path_for('admin.approve', { id: voter.userid }) }}" class="btn btn-success">Approved</a>
                                                            <a href="{{ path_for('admin.decline', { id: voter.userid }) }}" class="btn btn-danger">Decline</a></td>
                                                        </tr>
                                                    {% endfor %} 
                                                    </tbody>
                                                  <thead>
                                                    <tr>
                                                     <th>Name & tag line</th>
                                                     <th>Email</th>
                                                     <th>Approved</th>
                                                     <th>Action</th>
                                                    </tr>
                                                  </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>   

                                        
      
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock %}

{% block scripts %}

  <script type="text/javascript" src="{{ base_url() }}/backend/assets/plugins/datatables/datatables.min.js"></script>
  <script>
  $(document).ready( function () {
    $('#myTable').DataTable({
          "ordering": false,    
    });
  } );  
  
  </script>


        {% if flash.getMessage('success') %}
          <script>
           $(document).ready(function(){
              swal("Success!", "{{ flash.getMessage('success') | first }}", "success");
           });
          </script> 
        {% endif %}   

        {% if flash.getMessage('warning') %}
          <script>
           $(document).ready(function(){
              swal("Warning!", "{{ flash.getMessage('warning') | first }}", "warning");
           });
          </script> 
        {% endif %}  

        {% if flash.getMessage('error') %}
          <script>
           $(document).ready(function(){
              swal("Error!", "{{ flash.getMessage('error') | first }}", "error");
           });
          </script> 
        {% endif %}      

{% endblock %} 